@model Model.EF.User


<div class="p-3">


    <p>
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addUpdateModal"> Create</a>
    </p>
    <div class="modal fade" id="addUpdateModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title"> Thêm User Mới</h2>
                 
                </div>

                <div class="modal-body">
                    <form id="userForm">
                       <label>User Name</label>
                        @Html.TextBoxFor(x=>x.UserName ,new {@class="form-control"})
                           
                    </form>
                </div>
                <div class="modal-footer">
                  
                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered ">
        <tr class="btn-primary ">
            <th>
                UserName
            </th>
            <th>
                Password
            </th>
            <th>
                Name
            </th>
            <th>
                Addess
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Status
            </th>
            <th>

            </th>


        </tr>

        @foreach (var item in ViewBag.Users)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.Password
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Addess
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Phone
                </td>
                <td>
                    @item.Status
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>